body{
    animation: onLoadLanding 2s;
}

.landing-page-img{
    background-image:url("images/landing-bg.png");
    background-size: cover;
    font-size: 2em;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
@keyframes onLoadLanding {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.landing-form{
    width: 70vw;
    margin-left:auto;
    margin-right:auto;
    animation: onLoadLanding 2s;
}
.landing-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffffff;
    width: 100%;
    height: 25vh;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    transform: translateY(-10vh);
    color: #9DADFF;
}
.form-top, .form-bottom{
    align-items: flex-end;
}
.form-bottom{
    display: flex;
}
.radio-inputs{
    margin: 0 30px;
}
.cityInput, .dateInput,.passengerContainer{
    display: flex;
    flex-direction: column;
    margin: 1px;
    justify-content: center;
}
.inputContainer{
    display: flex;
    margin: 0 30px;
}
input{
    color: #9DADFF;
    width: 10vw;
    height: 40px;
    border: #9DADFF 2px solid;
    border-radius: 5px;
}
input:focus{
    outline: #9DADFF;
    color: #9DADFF;
    font-weight: 600;
}
.radio-inputs input{
    width: 25px;
    height: 25px;
}
input[type="radio"]{
    accent-color: #7387ff;
    background-color: #ffffff;
}
input[type="radio"]:hover{
    accent-color: #ffffff;
}
.form-submit-button{
    background-color: #9DADFF;
    color: #ffffff !important;
    margin: 2px;
    transition: 200ms;
}
.form-submit-button:hover{
    cursor: pointer;
    scale: 1.02;
    font-weight: 600;
    transition: 200ms;
}
select{
    height: 43px;
    width: 45px;
    margin: 2px;
    border: 2px solid #9DADFF;
    font-weight: 700;
    border-radius: 5px;
    color: #9DADFF;
}
.landing-cards{
    display: flex;
    color: #9DADFF;
    width: 60vw;
    padding-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    animation: onLoadLanding 2s;
}
.landing-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: auto;
}
.landing-card div{

}
.landing-card p{
    font-size: 0.9em;
    text-align: center;
}
.landing-card h2{
    font-size: 1em;
    text-align: center;
}
.landing-card-button{
    justify-items: flex-end;
}
.landing-card-button a{
    color: #9DADFF;
}
#health_safety{
    border: 2px solid #9DADFF;
    border-radius: 10px;
}
.landing-card-icon{
    height: 7vh;
}
#enviromentally-friendly{
    padding-bottom: 30px;
}
.landing-card-button{
    font-size: 1rem;
    font-weight: 500;
    transition: 200ms;
}
.landing-card-button:hover{
    cursor: pointer;
    color: #5E70D0;
    font-weight: 600;
    transition: 200ms;
 }


.landing-discover-offers{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    color: #9DADFF;
}
.landing-offers{
    border: 1px #9DADFF solid;
    border-radius: 10px;
    display: flex;
    width: 60vw;
    min-height: 23vh;
}
.offer-left{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 32%;
    background-image: url("images/offer-pic-v2.png");
}
.offer-right{
    padding-left: 50px;
}
.offer-right h1{
    margin-bottom: 0;
}
.offer-right a{
    padding: 10px;
    background-color: #9DADFF;
    color: #ffffff;
    border-radius: 7px;
    transition: 200ms;
}
.offer-right a:hover{
    transition: 200ms;
    cursor: pointer;
    padding-left: 20px;
}
.offer-right a:visited{
    color: #ffffff;
}

.buying-tickers{
    width: 60vw;
    color: #9DADFF;
    margin-left: auto;
    margin-right: auto;
    padding: 13vh 0;
}
.about-btm-banner{
    margin: 1vh 0 10vh;
    height: 25vh;
    background-color: #9DADFF;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btm-banner-container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.btm-banner-container h1{
    font-size: 4em;
    text-align: center;
    margin: 0;
}
.btm-banner-container p{
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;
}
.btm-banner-container div{
    padding: 50px;
    padding-bottom: 0;
}


/*CONTACT  PAGE*/
.contact-img{
    background-image: url("images/city-bus-bar.jpg");
    background-size: 100%;
    background-position: 0px 500px;
    text-align: center;
    font-size: 2em;
    color: #ffffff;
    height: 25vh;
}
.contact-img h1{
    margin: 0;
    padding: 8vh;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.contact-form{
    display: flex;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    padding: 5vh 0;
}
.contact-left{
    width: 30%;
}
.contact-right, .contact-left{
    margin-left: auto;
    margin-right: auto;
}
.contact-form-right-container{
    display: flex;
    flex-direction: column;
}
.contact-form-right-container input{
    width : 300px;
    margin: 3px;
    color: #9DADFF;
}
.contact-form-right-container input::placeholder{
    color: #9DADFF;
}
textarea{
    width: 300px;
    height: 100px;
    border: #9DADFF 2px solid;
    border-radius: 5px;
    resize: none;
    margin-left: 3px;
    color: #9DADFF;
}
textarea::placeholder{
    color: #9DADFF;
}
textarea:focus{
    outline: none;
}
.contact-left{
    color: #9DADFF;
}
.contact-left h1{
    font-size: 3em;
}
.contact-left p{
    font-size: 1.3em;
    word-spacing: 8px;
}
#small-map{
    display: none;
}
.contact-location{
    color: #9DADFF;
    text-align: center;
    padding: 5vh 0;
}


/*ABOUT PAGE*/
.about-img{
    background-image: url("images/public-transport-city.jpg");
    background-size: 100%;
    text-align: center;
    font-size: 2em;
    color: #ffffff;
    height: auto;
}
.about-img h1{
    margin: 0;
    padding: 8vh;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.about-environment{
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #9DADFF;
    padding: 6vh 0;
}
.about-onboard{
    margin: 10vh;
    width: 65vw;
    color: #9DADFF;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.onboard-flex{
    display: flex;
    justify-content: center;
}
.onboard-left, .onboard-right{
    padding: 3vh;
}
.onboard-card{
    text-align: justify;
    display: flex;
}
.onboard-card img{
   padding: 10px;
    width: 4vw;
    height: 4vw;
}
.onboard-text{
    width: 80%;
    padding-left: 1vw;
}
.about-health{
    margin: 10vh;
    color: #9DADFF;
    text-align: center;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
}
.about-health ul{
    text-align: justify;
}
.about-health img{
    border: 2px #9DADFF solid;
    border-radius: 10px;
}
.about-network{
    text-align: center;
}
.about-network img{
    width: 65vw;
    height: 55vw;
}
#bus-results{
    display: none;
    position: fixed;
    margin: auto;
    width: 100vw;
    z-index: 99;
    height: 70vh;
}
.bus-line{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 55vh;
    padding: 5vh;
    border-radius: 15px;
    margin: 10vh auto;
    background-color: #ffffff;
    border: 3px solid #5E70D0;
}
.line-time{
    width: 10vw;
    margin: 10px;
    height: auto;
    padding: 2vh;
    border: 2px solid #5E70D0;
    border-radius: 15px;
}
.result-close-btn{
    font-size: 2rem;
    color: white;
    padding: 20px;
    background-color: #9DADFF;
    border-radius: 20px;
    width: 20vw;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    border: none;
    transition: 200ms;
}
.result-close-btn:hover{
    scale: 1.01;
    font-weight: 700;
    cursor: pointer;
}



/* A few special fixes */
@media (max-width: 1010px){
    .about-btm-banner{
        display: none;
    }
    .landing-form{
        width: 80vw;
    }
}

/* RESPONSIVENESS */
@media (max-width: 800px){
    #large-map{
        display: none;
    }
    #small-map{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 1px) and (max-width: 768px){
    .landing-page-img h1{
        width: 90vw;
        font-size: 1em;
        text-align: center;
    }
    .about-btm-banner{
        display: flex;
        height: 105vh;
    }
    .btm-banner-container{
        flex-direction: column;
        height: 100%;
    }
    .landing-form{
        width: 90vw;
    }
    .landing-form-container{
        height: 50vh;
        width: 100%;
    }
    .form-bottom{
        display: block;
        flex-direction: column !important;
    }
    input,select{
        width: 200px;
        height: 30px;
        font-size: 1em;
        border-radius: 5px;
        margin: 0;
    }
    .h-captcha{
        width: 20vw !important;
    }
    label{
        font-size: 1em;
    }
    select,.form-submit-button{
        margin-top: 6px;
        width: 206px;
    }

    .inputContainer{
        flex-direction: column;
    }
    .landing-form{
        height: 60vh;
    }
    .landing-card{
        margin-top: 10vh;
        width: 100%;
    }
    .result-close-btn{
        width: 100%;
    }
    .bus-line{
        padding: 3vh;
    }
    .line-time{
        margin: 5px;
        border: none;
        padding: 2vh;
    }
    .line-time h1{
        font-size: 1rem;
    }
    .line-time h2{
         font-size: 1rem;
     }
    .line-time h3{
        font-size: 1rem;
    }


    @media (max-height: 800px) and (min-width:768px){
        .landing-card-text h2{
            margin-top: 40px;
        }
    }
    .landing-offers{
        height: 70%;
        width: 80vw;
        flex-direction: column;
    }
    .offer-right{
        margin-left: auto;
        margin-right: auto;
    }
    .landing-discover-offers{
        margin: 5vh 0;
    }
    .borderBreak{
        display: none;
    }

    /* CONTACT PAGE */
    .contact-img{
        background-position: 0;
        height: auto;
    }
    .contact-img h1{
        font-size: 1.1em;
        padding-top: 17vh;
    }
    .contact-form{
        flex-direction: column;
        width:100%;
    }
    .contact-left h1{
        text-align: center;
    }
    .contact-left{
        width: 65vw;
        padding: 20px;
    }
    .contact-form-right-container input{
        width: 70vw;
    }
    .contact-form-right-container textarea{
        width: 70vw;
    }


    /* ABOUT PAGE */
    .onboard-flex{
        flex-direction: column;
    }
    .onboard-left,.onboard-right{
        padding: 0;
    }
    .about-img h1{
        font-size: 1.3em;
        padding-top: 17vh;

    }
}


@media (max-width: 320px){
    .landing-page-img h1{
        width: 100%;
    }
    .landing-form{
        width: 100%;

    }
    input{
         width: 100%;
        font-size: 1rem;
     }
    .form-top, .form-bottom{
        width: 100%;
    }




    .btm-banner-container div{
        padding: 0;
    }
}